<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.erikkarlsson.simplesleeptracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.details.DetailActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".features.add.AddSleepActivity"
            android:label="@string/add_sleep_session"
            android:parentActivityName=".MainActivity" />

        <receiver android:name=".features.appwidget.SleepAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fe2ec819a92c92bdf335833374300bb79b6fff00" />

        <activity
            android:name=".features.settings.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.erikkarlsson.simplesleeptracker.MainActivity" />
        </activity>

        <!-- Disable default provider - https://stackoverflow.com/a/55875560/6733544 -->
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:enabled="false"
            android:exported="false" />
    </application>

</manifest>
